<div class="navbar">
    <h3><a class="navbar__link" href="/">Bookmark Storage</a></h3>

    <div class="navbar__menu">
        <a class="navbar__link" href="/login">Login</a>
        <a class="navbar__link" href="/register">Register</a>
    </div>
</div>