<a href="/" class="logo-section">
    <i class="logo-section__logo far fa-bookmark"></i>
    <h3 class="logo-section__name">saved.io clone</h3>
</a>
<h1 style="margin-top: 2rem; text-align: center;">404</h1>
<h3 style="text-align: center;">Page not found</h3>
<!-- <h1 style="margin-left: 4rem;">404</h1> -->
<!-- <h3 style="margin-left: 4rem;">Page not found</h3> -->