<div class="welcome-section">
    <i class="welcome-section__logo far fa-bookmark"></i>
    
    <h1 class="welcome-section__primary-title">The most simple bookmarking tool ever</h1>

    <h2 class="welcome-section__secondary-title">Just type <span>saved-io-clone.herokuapp.com/</span> in front of any URL to save a bookmark to the cloud</h3>
</div>

<div class="cta">
    <a href="/register" class="cta__button">Register - It's free!</a>
    <a href="/login" class="cta__button">Login</a>
</div>