// app colors
$primary: #ff6b81;
$success: #2ed573;
$warning: #eccc68;
$error: #ff4757;
$border: #f1f2f6;
$link: #1e90ff;
$hover: #f4fafc;
$secondary: #a4b0be;
$background: #fff;

// components
@import './components/mobileMenu';
@import './components/leftBar';
@import './components/mainSection';
@import './components/form';
@import './components/notifications';

// modules
@import './modules/reset';
@import './modules/app';
@import './modules/landingPage';

// queries
@import './modules/queries';
