@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

$primary: #ff6b81;
$success: #2ed573;
$warning: #eccc68;
$error: #ff4757;
$border: #f1f2f6;
$link: #1e90ff;
$hover: #f4fafc;
$secondary: #a4b0be;
$background: #fff;

:root {
    font-size: 16px;
}

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Anonymous Pro', monospace;
}

html, body, h1, p, h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.app {
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    background-color: $background;
}

.mobile-menu {
    display: none;
    flex-direction: column;

    &__bar {
        display: flex;
        width: 100%;
        height: 60px;
        box-sizing: border-box;

        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        background: $primary;
    }

    &__btn {
        font-size: 1.4rem;
        color: #fff;
        cursor: pointer;
    }

    &__logo {
        color: #fff;
    }

    &__menu {
        background: $primary;
        width: 100%;
        display: none;
        flex-direction: column;
    }

    &__link {
        color: #fff;
        padding: 12px 0 12px 20px;

        &:hover {
            background-color: $primary;
        }
    }
}

.left-bar {
    height: 100vh;
    padding: 0 20px;
    border-right: 1px solid $border;
    width: 15vw;

    &__logo {
        font-size: 1.5rem;
        margin: 30px 0;
        color: $primary;
        text-align: center;
    }

    &__section {
        &:not(:last-child) { margin-bottom: 40px; }
    }

    &__title {
        font-size: 1.15rem;
        font-weight: lighter;
        color: $secondary;
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-left: 10px;
    }

    &__link {
        font-weight: bold;
        color: $link;
        width: fit-content;

        &:not(:last-child) { margin-bottom: 5px; }
        &:hover { color: $primary; }
    }
}

.main-section {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;

    &__search {
        background: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid $border;
        box-sizing: border-box;
        padding: 20px 25px;
        font-size: 1.1rem;
        font-family: 'Anonymous Pro', monospace;

        &:hover {
            background-color: $hover;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 20px 15px;
        border-bottom: 1px solid $border;

        &:hover { background-color: $hover; }
        &:hover .main-section__actions { display: flex; }
        &:hover .main-section__time { margin-left: 0; }
    }

    &__title {
        margin-left: 7%;
        color: $link;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .9rem;
        align-self: flex-start;
        max-width: 50%;

        &:hover { color: $primary; }

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__time {
        text-align: right;
        color: $secondary;
        min-width: 13%;
        margin-left: auto;
    }

    &__actions {
        display: none;
        justify-content: flex-end;
        align-items: center;
        font-size: .9rem;
        justify-content: flex-end;
        margin-left: auto;
        padding: 0 5rem;
    }

    &__action {
        color: $link;

        &:not(:last-child) { margin-right: 15px; }
        &:hover { color:$primary }
    }
}

.form {
    width: 100%;

    &__control {
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 5px;
        font-weight: bold;
    }

    &__text, &__text-disabled {
        font-size: 1rem;
        padding: .5rem;
    }

    &__submit {
        background-color: $primary;
        border: none;
        color: #fff;
        font-family: 'Anonymous Pro', monospace;
        font-size: 1.2rem;
        padding: .5rem 1rem;
        cursor: pointer;

        &:hover {
            background-color: #333;
        }
    }
}

.notifications {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    // width: 100%;

    &__notification {
        padding: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        // width: fit-content;


        & span {
            cursor: pointer;
            margin-left: 10px;
            font-size: 1.3rem;
            font-weight: bold;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &.err {
            background: $error;
            color: #fff;
        }

        &.succ {
            background: $success;
            color: #fff;
        }
    }
}

.container {
    padding: 2% 5%;
}

.page__title {
    margin-bottom: 5px;
}

.flex { display: flex; }

@media (max-width: 1404px) {
    .left-bar { width: 18%; }

    .main-section {
        &__title { flex: 1; }

        &__time { display: none; }
    }
}

@media (max-width: 1052px) {
    .app { flex-direction: column; }

    .left-bar { display: none; }

    .mobile-menu { display: flex; }

    .form__submit { width: 100%; }

    .main-section {
        &__title {
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        &__actions { 
            display: flex;
            padding: 0 0 0 2rem;
        }
    }
}