.form {
    width: 100%;

    &__container {
        padding: 0 10%;
    }

    &__control {
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 5px;
        font-weight: bold;
    }

    &__text, &__text-disabled {
        font-size: 1rem;
        padding: .5rem;
    }

    &__submit {
        background-color: $primary;
        border: none;
        color: #fff;
        font-family: 'Anonymous Pro', monospace;
        font-size: 1rem;
        padding: .5rem 1rem;
        cursor: pointer;

        &:hover {
            background-color: #333;
        }
    }
}