<div class="left-bar">
    <h1 class="left-bar__logo">Bookmark Storage</h1>

    <div class="left-bar__section">
        <h1 class="left-bar__title">Menu:</h1>
        <div class="left-bar__links">
            <a class="left-bar__link" href="/">Home</a>
            <a class="left-bar__link" href="/logout">Logout</a>
        </div>
    </div>

</div>