<div class="container">
    <h1 class="section__title">Create Bookmark</h1>

    <form action="/bookmark" method="POST" class="form">
        <div class="form__control">
            <label class="form__title" for="title">Bookmark Title</label>
            <input class="form__text" type="text" value="<%= data.title %>" name="title" required>
        </div>
        
        <div class="form__control">
            <label class="form__title" for="description">Description</label>
            <input class="form__text" type="text" value="" name="description" placeholder="Optional">
        </div>

        <div class="form__control">
            <label class="form__title" for="url">Url</label>
            <input class="form__text-disabled" type="text" value="<%= data.url %>" name="url">
        </div>

        <button class="form__submit" type="submit">Save</button>
    </form>
</div>