@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

.app {
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    background-color: $background;
}

.section__title {
    font-size: 1.5rem;
    margin: 15px 0;
}

.container {
    padding: 5% 30%;
}

.flex { display: flex; }

.legend {
    border-top: 1px solid #000;
    margin-top: 20px;
    width: fit-content;
    padding-top: 10px;
    font-size: 1rem;
    border-color: #787878;
}

.page__title {
    padding: 2rem;
}